<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand mb-0 h1" href="/cohorts">Super Team Picker</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="/cohorts">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cohorts">Cohorts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cohorts/new">New Cohort</a>
                </li>
            </ul>
        </nav>
       
